<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Comidas guardadas</ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-list *ngIf="savedItems.length > 0; else noItems">
    <ion-item *ngFor="let item of savedItems">
      <ion-thumbnail slot="start">
        <img [src]="item.image" />
      </ion-thumbnail>
      <ion-label>
        <h2>{{ item.title }}</h2>
        <p>{{ item.description }}</p>
      </ion-label>
    </ion-item>
  </ion-list>

  <ng-template #noItems>
    <ion-text color="medium">
      <p>No tienes comidas guardadas aún.</p>
    </ion-text>
  </ng-template>
</ion-content>
