<ion-header class="ion-no-border">
  <ion-toolbar color="primary">
    <ion-title>Perfil</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="close()">
        <ion-icon name="close-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <div class="profile-header">
    <ion-avatar class="user-avatar">
      <img [src]="user.avatar" [alt]="user.name">
    </ion-avatar>
    
    <h2>{{user.name}}</h2>
    
    <div class="user-status">
      <ion-icon name="card-outline"></ion-icon>
      <span>{{user.status}}</span>
    </div>
    
    <div class="user-points">
      <span class="points-label">Puntos totales:</span>
      <span class="points-value">{{user.points}}</span>
    </div>
  </div>

  <div class="menu-section">
    <ion-list class="profile-menu">
      <ion-item 
        *ngFor="let option of menuOptions" 
        button
        (click)="onMenuClick(option.action)"
        detail="true">
        <ion-icon [name]="option.icon" slot="start"></ion-icon>
        <ion-label>
          <h3>{{option.label}}</h3>
          <p *ngIf="option.subtitle">{{option.subtitle}}</p>
        </ion-label>
      </ion-item>
    </ion-list>
  </div>
</ion-content>