ion-card {
  border-radius: 16px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
}

ion-item {
  margin-top: 10px;
  border-radius: 12px;
  font-size: 1.1em;
  --background: #f5f5f5;
  transition: 0.3s;
}

ion-item:hover {
  --background: #e0e0e0;
}
