<ion-header>
  <ion-toolbar color="primary">
    <ion-title>OptiEatGo - Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding login-content">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Bienvenido a OptiEatGo</ion-card-title>
      <ion-card-subtitle>Inicia sesión para continuar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="login()" #loginForm="ngForm">
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input
            type="text"
            required
            minlength="3"
            maxlength="8"
            [(ngModel)]="user.username"
            name="username"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
            type="password"
            required
            pattern="^[0-9]{4}$"
            [(ngModel)]="user.password"
            name="password"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!loginForm.form.valid">
          Ingresar
        </ion-button>

        <ion-button expand="block" fill="outline" color="secondary" (click)="goToRegister()">
          Crear cuenta
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
