<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <ion-card>
    <ion-card-header>
      <ion-card-title>Crear cuenta</ion-card-title>
      <ion-card-subtitle>Completa tus datos para continuar</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <form (ngSubmit)="register()" #registerForm="ngForm">
        <ion-item>
          <ion-label position="stacked">Usuario</ion-label>
          <ion-input
            type="text"
            required
            minlength="3"
            [(ngModel)]="newUser.username"
            name="username"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Correo electrónico</ion-label>
          <ion-input
            type="email"
            required
            [(ngModel)]="newUser.email"
            name="email"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Contraseña</ion-label>
          <ion-input
            type="password"
            required
            minlength="4"
            [(ngModel)]="newUser.password"
            name="password"
          ></ion-input>
        </ion-item>

        <ion-item>
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input
            type="password"
            required
            [(ngModel)]="newUser.confirmPassword"
            name="confirmPassword"
          ></ion-input>
        </ion-item>

        <ion-button expand="block" type="submit" [disabled]="!registerForm.form.valid">
          Registrar
        </ion-button>

        <ion-button expand="block" fill="outline" color="secondary" (click)="goToLogin()">
          Volver al login
        </ion-button>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
