<ion-header>
  <ion-toolbar color="primary">
    <ion-title>OptiEatGo</ion-title>
  </ion-toolbar>
  <ion-searchbar placeholder="Buscar restaurantes o platos..."></ion-searchbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid>
    <ion-row>
      <ion-col size="12" class="ion-text-center">
        <h2>Recomendados para ti </h2>
      </ion-col>
    </ion-row>

    <!-- Tarjetas de ejemplo -->
    <ion-row>
      <ion-col size="6">
        <ion-card>
          <img alt="comida" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          <ion-card-header>
            <ion-card-title>Veggie Bowl</ion-card-title>
            <ion-card-subtitle>Saludable y sabroso</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>

      <ion-col size="6">
        <ion-card>
          <img alt="comida" src="https://ionicframework.com/docs/img/demos/thumbnail.svg" />
          <ion-card-header>
            <ion-card-title>Hamburguesa Fit</ion-card-title>
            <ion-card-subtitle>Alta en proteínas</ion-card-subtitle>
          </ion-card-header>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<!-- Footer  -->

<ion-footer class="footer-tabs">
  <ion-toolbar>
    <div class="footer-icons">
      <ion-button fill="clear" [routerLink]="['/home']" routerDirection="root">
        <ion-icon name="search-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" [routerLink]="['/cart']" routerDirection="root">
        <ion-icon name="cart-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" [routerLink]="['/saved']" routerDirection="root">
        <ion-icon name="bookmark-outline"></ion-icon>
      </ion-button>

      <ion-button fill="clear" [routerLink]="['/profile']" routerDirection="root">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </div>
  </ion-toolbar>
</ion-footer>